<!DOCTYPE html>
<html>
  <head>
    <title>Superheroes!</title>
  </head>
  <body>
      <h1><%= @team.name %></h1>
      <h2>Team Motto: <%= @team.motto %></h2>

      <% @heroes.each do |x| %>
      <h2>Hero's Name: <%= "#{x.name}" %></h2>
      <p>Hero's Power: <%= "#{x.power}" %></p>
      <p>Hero's Biography: <%= "#{x.biography}" %></p>
      <% end %>
  </body>
</html>
